/find_all_scriptures.py
*.properties
build/
analysis/output
*.class
*.pyc
*.swp
env/

# apache pig logs
pig_*.log

# django static files
static/

# eclipse
.project
.classpath
.settings
target/
analysis

# jetbrains pycharm
.idea
