local_settings.py
/find_all_scriptures.py
*.properties
build/
analysis/output
analysis/verse_vectors
*.class
*.pyc
*.swp
env/
/static/

# apache pig logs
pig_*.log

# eclipse
.project
.classpath
.settings
target/

# jetbrains pycharm
.idea
