local_settings.py
/find_all_scriptures.py
*.properties
build/
analysis/output
analysis/verse_vectors
*.class
*.pyc
*.swp
env/
/static/
.vagrant

# apache pig logs
pig_*.log

# eclipse
.project
.classpath
.settings
target/
reports/

# jetbrains pycharm
.idea

elasticsearch/twitter_mining.cfg

.coverage
coverage.xml
analysis/.ipynb_checkpoints/
corpus.pkl
elasticsearch/out.json
karma.conf.bak.js
node_modules/
npm-debug.log
out.json
stop_tokens.pkl
web/static/.DS_Store
