<p>Showing 10 of 100 Popular Bible verses on Twitter for <a href="#">February 14, 2013</a></p>
<div class="list-group">
    <div class="list-group-item" ng-repeat="result in search_results">
        <h4 class="list-group-item-heading">{{ result.bibleverse }}</h4>
        <p class="list-group-item-text">
        {{ result.text }}
        </p>
        <small>Twitter users who like {{ result.bibleverse }} also like
            <a ng-repeat="r in result.recommendations", href="#">
                {{ r }}
            </a>
        </small>
    </div>
</div>
