<p>Showing {{ search_results_count }} of {{ total_search_results_count }} Popular Bible verses on Twitter for <a href="#">February 14, 2013</a></p>
<!-- Special Message or "Clicked" verse -->
<div class="list-group">
    <div class="list-group-item" ng-if="show_habakkuk_message">
        <h4 class="list-group-item-heading">Message from Habakkuk Team</h4>
        <p class="list-group-item-text">
        {{ habakkuk_message }}
        </p>
    </div>
</div>

<!-- search results -->
<div class="list-group">
    <div class="list-group-item" ng-repeat="result in search_results">
        <h4 class="list-group-item-heading">{{ result.bibleverse }}</h4>
        <p class="list-group-item-text">
        {{ result.text }}
        </p>
        <small>Twitter users who like {{ result.bibleverse }} also like
            <a ng-repeat="r in result.recommendations", href="#">
                {{ r }}
            </a>
        </small>
    </div>
</div>

<!-- pagination -->
<ul class="pagination">
    <li class="{{ pagination.start_enabled }}"><a href="#">&laquo;</a></li>
    <li ng-repeat="page_num in num_search_result_pages"><a href="#">{{ page_num }}</a></li>
    <li class="{{ pagination.end_enabled }}"><a href="#" >&raquo;</a></li>
</ul>
