{% extends "base.html" %}
{% load jsonify %}
{% block title %}Bible Verse Recommendations{%endblock%}
{% block head %}
    <link href="{{ STATIC_URL }}biblestudy/biblestudy.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/angular-ui-ng-grid/ng-grid.css" rel="stylesheet">

    <script src="{{ STATIC_URL }}vendor/underscore/underscore-min.js"></script>
    <script src="{{ STATIC_URL }}vendor/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/angular-ui-ng-grid/ng-grid-2.0.7.min.js"></script>


    <script type="text/javascript">
        var HK = {};
        HK.search_results = {}
        HK.search_results.results = {{ search_results | jsonify }};
        HK.search_results.habakkuk_message = {{ habakkuk_message | jsonify }};
        HK.search_results.date_str = {{ date_str | jsonify }}
        HK.search_text = {{ search_text | jsonify }};
    </script>
    <script src="{{ STATIC_URL }}biblestudy/biblestudy.js"></script>

{% endblock %}

{% block content %}
    <div ng-app='bibleStudyApp'>
        <div ng-controller="BibleStudyCtrl">
            {{ block.super }}
        </div>
    </div>
{% endblock content %}

{% block help %}
    <em>Habakkuk recommends Bible verses based on their usage on Twitter. Simply search or select a Bible verse below.</em>
{% endblock help %}

{%  block body_content %}
    <!-- body_content -->
    <ng-include
            src="'{{ STATIC_URL }}biblestudy/partials/biblestudy-content.html'">
    </ng-include>
{%  endblock body_content %}