{% extends "base.html" %}
{% load jsonify %}
{% block title %}Cluster Dendrogram View{%endblock%}

{% block head %}
    <link href="{{STATIC_URL}}clustering/clustering.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <script src="{{ STATIC_URL }}vendor/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/d3/d3.v3.js"></script>
    <script type="text/javascript">
        var HK = {};
        HK.clusters = {{ clusters | jsonify }};
        HK.facets = {{ facets | jsonify }};
    </script>
    <script src="{{STATIC_URL}}clustering/clustering.js"></script>
{% endblock %}

{% block content %}
    <div ng-app='clusterApp'>
        <div ng-controller="ClusterCtrl">
            {{ block.super }}
        </div>
    </div>
{% endblock content %}

{% block help %}
    <em>This view shows a D3 cluster dendrogram of popular Bible verses and their related verses based on Twitter usage.</em>
{% endblock help %}

{%  block body_content %}
    <ng-include
            src="'{{STATIC_URL}}clustering/partials/clustering.html'">
    </ng-include>
{%  endblock body_content %}



