{% extends "base.html" %}
{% load jsonify %}
{% block title %}Cluster Dendogram view{%endblock%}

{% block head %}
    <link href="{{STATIC_URL}}clustering/clustering.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <script src="{{ STATIC_URL }}vendor/jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/datatables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}vendor/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/d3/d3.v3.js"></script>
    <script src="{{ STATIC_URL }}vendor/ui-bootstrap/ui-bootstrap-tpls-0.6.0.min.js"></script>

    <script type="text/javascript">
        <!-- bootstrapped data from django -->
        var HK = {};
        HK.clusters = {{ clusters | jsonify }};
        HK.facets = {{ facets | jsonify }};
    </script>
    <script src="{{STATIC_URL}}clustering/clustering.js"></script>
{% endblock %}

{% block content %}
    <div ng-app='clusterApp'>
        <div ng-controller="ClusterCtrl">
            {{ block.super }}
        </div>
    </div>
{% endblock content %}

{% block help %}
    <em>This view shows a D3 cluster dendogram of popular Bible verses and their related verses based on Twitter usage.
        Select a Bible verse from the table to filter the clusters.</em>
{% endblock help %}

{%  block sidebar_content %}
    <ng-include
            src="'{{STATIC_URL}}clustering/partials/clustering-sidebar.html'">
    </ng-include>
{%  endblock sidebar_content %}
{%  block body_content %}
    <ng-include
            src="'{{STATIC_URL}}clustering/partials/clustering-content.html'">
    </ng-include>
{%  endblock body_content %}



