{% extends "base.html" %}
{% load jsonify %}
{% block head %}
    <link href="{{ STATIC_URL }}biblestudy/biblestudy.css" rel="stylesheet">
    <script type='text/javascript' src="{{ STATIC_URL }}vendor/angular/angular.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}vendor/angular/angular-cookies.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}vendor/ng-infinite-scroll/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript">
        var HK = {};
        HK.results = {{ topic_results | jsonify }};;
    </script>
    <script src="{{ STATIC_URL }}topics/topics.js"></script>
{% endblock %}

{% block content %}
    <div ng-app='topicApp'>
        {% csrf_token %}
        <div ng-controller="TopicCtrl">
            {{ block.super }}
        </div>
    </div>
{% endblock content %}


{% block help %}

        Here are popular twitter phrases per bible verse. Click on a phrase to find other relevant bible verses.
{% endblock help %}


{%  block body_content %}
    <!-- body_content -->
    <ng-include
            src="'{{ STATIC_URL }}topics/partials/topics-content.html'">
    </ng-include>
{%  endblock body_content %}