{% extends "base.html" %}
{% load jsonify %}
{% block head %}
    <link href="{{ STATIC_URL }}biblestudy/biblestudy.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}vendor/angular/angular.min.js"></script>

    <script type="text/javascript">
        var HK = {};
        HK.results = {{ topic_results | jsonify }};;
    </script>
    <script src="{{ STATIC_URL }}topics/topics.js"></script>
{% endblock %}

{% block content %}
    <div ng-app='topicApp'>
        <div ng-controller="TopicCtrl">
            {{ block.super }}
        </div>
    </div>
{% endblock content %}


{% block help %}
    <em>Topics!</em>
{% endblock help %}


{%  block body_content %}
    <!-- body_content -->
    <ng-include
            src="'{{ STATIC_URL }}topics/partials/topics-content.html'">
    </ng-include>
{%  endblock body_content %}