<!-- NOTE: This partial is not used any longer. Should be removed in the future -->
<div class="row">
    <!-- Sidebar -->
    <div class="col-md-4">
        <p>Select a Bible verse from the table to filter the clusters. Click again to clear the selection</p>
        <table class="table table-hover table-bordered table-condensed">
            <thead>
            <tr>
                <th>Bible verse</th>
                <th>Number of Clusters</th>
            </tr>
            </thead>
            <tr ng-repeat='facet in facets'
            , ng-click="clickedFacet($index)", class="{{ facet.class }}">
            <td>{{ facet.term }}</td>
            <td>{{ facet.count }}</td>
            </tr>
        </table>
    </div>

    <!-- Body Content -->
    <div class="col-md-8">
        <hkuk-clusters-viz clusters='clusters'></hkuk-clusters-viz>
    </div>
</div>
